*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    overflow-x: hidden;
}

#page1{
    width: 100%;
    height: 100%;
    background-color: rgb(130, 146, 194);
}
#page2{
    width: 100%;
    height: 100%;
    background-color: rgb(74, 106, 195);
}
#page3{
    width: 100%;
    height: 100%;
    background-color: rgb(46, 154, 190);
}
#page2 h1{
    font-size: 40vw;
    font-weight: 600;
}